<!DOCTYPE html>
<html>

<head>
	<title>Pritjam</title>
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/navbar.css">
</head>

<body>
	<div class="header">
		<h1>Prithvi Jamadagni's Webpage</h1>
		<p class="motd">Howdy, and welcome to my website!</p>
	</div>

	<div class="section">
		<h2>{{ title }}</h2>
		<div class="section-item">
			<h4>Description</h4>
			<p>{{ description }}</p>
		</div>

		<div class="section-item">
			<h4>Links</h4>
			{% if github %}
			<p><a href="{{ github }}">GitHub Repo</a></p>
			{% endif %}
			{% for link in links %}
			<p><a href="{{link.link}}">{{ link.name }}</a></p>
			{% endfor %}
		</div>
		{% if roadmap %}
		<div class="section-item">
			<h4>Roadmap</h4>
			{% for item in roadmap %}
			<p>{% if item.tag == 0 %}&#x1F7E9;{% else %}&#x1F7E5;{% endif %}{{ item.item }}</p>
			{% endfor %}
		</div>
		{% endif %}
	</div>



	<!-- Site navigation menu -->
	<ul class="navbar">
		<li><a href="../index.html">Home</a></li>
		<li><a href="../games.html">My Games</a></li>
		<li><a href="../projects.html">Projects</a></li>
		<li><a href="../index.html">About Me</a></li>
	</ul>

	<div class="section">
		<h2>Blog</h2>
		<!-- abcd
			<div class="section-item">
				<h4></h4>
				<p></p>
			</div>
			-->

		{% for section in sections %}
		<div class="section-item">
			<h4>{{ section.title }}</h4>
			<p>{{ section.text }}</p>
		</div>
		{% endfor %}
	</div>
</body>

</html>